# Environment files
.env
*.env

# Firebase
google-services.json
GoogleService-Info.plist

# Signing keys
*.jks
*.keystore
key.properties

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.g.dart

# Android
android/app/debug.keystore
android/local.properties
android/key.properties

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.symlinks/
ios/Pods/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
